<div class="col-sm-5">

    <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="img/fglogo.JPG" class="img-responsive"></div>
        <div class="panel-body">

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><a href="#!" class="pull-right">View all</a> <h1>Baseball</h1></div>
        <div class="panel-body">
            <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Free @Bootply</a>
            <div class="clearfix"></div>
            fishing left panel ..... these templates are free and don't require extensive customization to the Bootstrap baseline.
            <hr>
            <ul class="list-unstyled"><li><a href="http://www.bootply.com/templates">Dashboard</a></li><li><a href="http://www.bootply.com/templates">Darkside</a></li><li><a href="http://www.bootply.com/templates">Greenfield</a></li></ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Specific to your team</h4></div>
        <div  class="panel-body">
            Bootstrap is front end frameworkto build custom web applications that are fast, responsive &amp; intuitive. It consist of CSS and HTML for typography, forms, buttons, tables, grids, and navigation along with custom-built jQuery plug-ins and support for responsive layouts. With dozens of reusable components for navigation, pagination, labels, alerts etc..                          </div>
    </div>

<!--RSS feeds-->

</div>
<div class="col-sm-7">

    <div class="well">
        <ul class="list-inline list-unstyled">
            <li><a href="" ng-click="loadFeed('http://partner.mlb.com/partnerxml/gen/news/rss/tb.xml');"><img alt='Tampa Bay Rays' title="Tampa Bay Rays" width=55px src="../img/rays.jpg"/></a></li>
            <li><a href="" ng-click="loadFeed('http://partner.mlb.com/partnerxml/gen/news/rss/mia.xml');"><img alt='Miami Marlins' title="Florida Marlins" width=55px src="../img/marlins.jpg"/></a></li>
            <li><img alt='FSU Seminoles' title="Florida State Seminoles" width=55px src="../img/fsulogo.jpg"/></li>
            <li><img alt='UF Gators' title="University of Florida Gators" width=55px src="../img/flgator.jpg"/></li>
            <li><img alt='UoM Hurricanes' title="University of Miami Hurricanes" width=55px src="../img/UofMiami.jpg"/></li>
            <li><img alt='USF Bulls' title="University of South Florida Bulls" width=55px src="../img/usflogo.jpg"/></li>
            <li><img alt='UCF Knights' title="University of Central Florida Knights" width=55px src="../img/ucflogo.jpg"/></li>
        </ul>
        <strong>Florida Baseball</strong>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Baseball News</h4></div>
        <div class="panel-body">
            <div class="row-fluid">
                <ul class="unstyled">
                    <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
                    <li ng-repeat="feed in feeds | filter:filterText">
                        <h5><a href="{{feed.link}}">{{feed.title}} </a><span class="small"> {{feed.publishedDate}}</span></h5>
                        <p class="text-left">{{feed.contentSnippet}}</p>

                    </li>
                </ul>
            </div>    </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>
        <div class="panel-body">
            <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: Bootstrap</a>
            <div class="clearfix"></div>
            <hr>

            <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>

            <hr>
            <form>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Add a comment..">
                </div>
            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Portlet Heading</h4></div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">Modals</li>
                <li class="list-group-item">Sliders / Carousel</li>
                <li class="list-group-item">Thumbnails</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-thumbnail"><img src="/assets/example/bg_4.jpg" class="img-responsive"></div>
        <div class="panel-body">
            <p class="lead">Social Good</p>
            <p>1,200 Followers, 83 Posts</p>

            <p>
                <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px">
                <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px">
                <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px">
            </p>
        </div>
    </div>

</div>